/* Color Theme Swatches in Hex */
.Exploring-this-great-world-.-Mixed-media-5-hex { color: #F2F0CE; }
.Exploring-this-great-world-.-Mixed-media-1-hex { color: #F2889B; }
.Exploring-this-great-world-.-Mixed-media-3-hex { color: #4D508C; }
.Exploring-this-great-world-.-Mixed-media-4-hex { color: #161C40; }
.Exploring-this-great-world-.-Mixed-media-2-hex { color: #0F1026; }


/* Color Theme Swatches in RGBA */
.Exploring-this-great-world-.-Mixed-media-1-rgba { color: rgba(242, 136, 155, 1); }
.Exploring-this-great-world-.-Mixed-media-2-rgba { color: rgba(15, 16, 38, 1); }
.Exploring-this-great-world-.-Mixed-media-3-rgba { color: rgba(77, 80, 140, 1); }
.Exploring-this-great-world-.-Mixed-media-4-rgba { color: rgba(22, 28, 64, 1); }
.Exploring-this-great-world-.-Mixed-media-5-rgba { color: rgba(242, 240, 206, 1); }

/* Color Theme Swatches in HSLA */
.Exploring-this-great-world-.-Mixed-media-1-hsla { color: hsla(349, 80, 74, 1); }
.Exploring-this-great-world-.-Mixed-media-2-hsla { color: hsla(237, 43, 10, 1); }
.Exploring-this-great-world-.-Mixed-media-3-hsla { color: hsla(237, 29, 42, 1); }
.Exploring-this-great-world-.-Mixed-media-4-hsla { color: hsla(231, 48, 16, 1); }
.Exploring-this-great-world-.-Mixed-media-5-hsla { color: hsla(56, 58, 87, 1); }